@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  font-family: 'roboto', sans-serif;
  background: #e5e5e5;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}

.board {
  padding: 10px;
  background: #BBADA0;
  border-radius: 10px;
}

.row {
  display: flex;
}

.cell {
  margin: 10px;
  height: 100px;
  width: 100px;
  background: #CDC0B4;
  border-radius: 5px;
}

.active {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 500;
  color: #776E65;

  background: hsl(70, 100%, 70%);
  transform: translate(0, 0);
  transition: all .3s ease-in-out;
}